*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
WEATHER_API_KEY= "8d644ee298fa2b6c3a24e77c0407de5d"